### Introduction

## Relational databases
Relational databases store data in tables with fields (columns) and records (rows), and we can query data and make calculations based on these records.

## SQL magic
Project Jupyter facilitates magic commands that are designed to solve some of the common problems in standard data analysis - these commands are prefixed by the `%` character for `line magic` and a double `%%` prefix for `cell magic`, which operate on multiple lines of input.

The IPython SQL magic extension allows us to write SQL queries into code cells, as well as write these results directly into Pandas DataFrames, which provide fast, flexible, and expressive data structures designed to make working with `relational` or `labeled` data both easy and intuituve, and is arguably the most powerful and flexible open source data analysis / manipulation tool available.

### What is the SQL?
SQL, or Structured Query Language, is a language designed to allow both technical and non-technical users query, manipulate, and transform, and transform data from a relational database. And due to its simplicity, SQL databases provide safe and scalable storage for millions of websites and mobile applications.

Did you know?  
There are many popular SQL databases including SQLite, MySQL, Postgres, Oracle and Microsoft SQL Server. All of them support the common SQL language standard, which is what this site will be teaching, but each implementation can differ in the additional features and storage types it supports.

In [1]:
# !pip install ipython-sql
# conda install -c conda-forge ipython-sql

In [2]:
import sqlite3
import sqlalchemy

In [3]:
# To load the SQL module - ipython-sql extension - into the notebook
%load_ext sql

In [4]:
%sql sqlite://

'Connected: @None'

## Lesson 1: SELECT queries 101

- create a SQLite database
- create a data table
- insert data into the table
- query data from the table

`SELECT` statement, which are often colloquially refered to as *quaries*.

Example of table SQL:
```Python
%%sql
CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);
INSERT INTO sales
VALUES ('sale_1', '2019-11-08 00:00', 0, TRUE, 1.1),
       ('sale_2', '2019-11-08 01:00', 0, FALSE, 1.2),
       ('sale_3', '2019-11-08 01:00', 0, TRUE, 1.3),
       ('sale_4', '2019-11-08 01:00', 1, FALSE, 1.4),
       ('sale_5', '2019-11-08 02:00', 1, TRUE, 1.5),
       ('sale_6', '2019-11-08 02:00', 1, TRUE, 1.5);
```

In [5]:
%%sql sqlite://
CREATE TABLE writer
(
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    USERID int NOT NULL UNIQUE,
    PRIMARY KEY (USERID)
);
INSERT INTO writer 
VALUES 
('William', 'Shakespeare', 1616),
('Lin', 'Han', 1996),
('Peter', 'Brecht', 1978);

Done.
3 rows affected.

[]

In [6]:
# %%sql sqlite://
# INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
# INSERT INTO writer VALUES ('Lin', 'Han', 1996);
# INSERT INTO writer VALUES('Peter', 'Brecht', 1978);

In [7]:
sqlres = %sql SELECT * from writer

 * sqlite://
Done.

In [8]:
sqlres

[('William', 'Shakespeare', 1616),
 ('Lin', 'Han', 1996),
 ('Peter', 'Brecht', 1978)]

In [52]:
# !pip install mysql-connector-python-rf

In [53]:
import mysql.connector

config = {
  'user': 'root',
  'password': 'root',
  'host': 'localhost',
  'database': 'performance_schema',
  'raise_on_warnings': True,
}

link = mysql.connector.connect(**config)

In [46]:
import pandas as pd

In [54]:
pd.read_sql_query('SELECT * FROM cond_instances', link)

                                                 NAME  OBJECT_INSTANCE_BEGIN
0                    wait/synch/cond/sql/COND_manager               35822412
1             wait/synch/cond/sql/COND_server_started               35729168
2        wait/synch/cond/sql/COND_compress_gtid_table               35729232
3              wait/synch/cond/sql/COND_handler_count               35737060
4      wait/synch/cond/sql/MYSQL_BIN_LOG::update_cond               35872592
5   wait/synch/cond/sql/MYSQL_BIN_LOG::prep_xids_cond               35874680
6        wait/synch/cond/sql/MYSQL_BIN_LOG::COND_done               35874812
7               wait/synch/cond/sql/COND_thread_cache               35744404
8         wait/synch/cond/sql/COND_flush_thread_cache               35744412
9           wait/synch/cond/sql/COND_connection_count               35743604
10                  wait/synch/cond/sql/COND_thd_list              127492040
11                      wait/synch/cond/sql/COND_open               35821396
12  wait/synch/cond/sql/Query_cache::COND_cache_st...               35735968
13  wait/synch/cond/sql/MDL_context::COND_wait_status              318372828
14                  wait/synch/cond/sql/COND_thr_lock              318375660
15  wait/synch/cond/sql/MDL_context::COND_wait_status              318302876
16                  wait/synch/cond/sql/COND_thr_lock              318305708
17  wait/synch/cond/sql/MDL_context::COND_wait_status              318386172
18                  wait/synch/cond/sql/COND_thr_lock              318389004
19  wait/synch/cond/sql/MDL_context::COND_wait_status              318553260
20                  wait/synch/cond/sql/COND_thr_lock              318556092
21                 wait/synch/cond/innodb/commit_cond               35927184
22  wait/synch/cond/myisam/keycache_thread_var::su...               36758912
23                     wait/synch/cond/sql/Gtid_state              128102364
24                     wait/synch/cond/sql/Gtid_state              128101884
25         wait/synch/cond/sql/Master_info::data_cond              318884432
26        wait/synch/cond/sql/Master_info::start_cond              318884440
27         wait/synch/cond/sql/Master_info::stop_cond              318884448
28        wait/synch/cond/sql/Master_info::sleep_cond              318884456
29  wait/synch/cond/sql/MDL_context::COND_wait_status              321462348
30                  wait/synch/cond/sql/COND_thr_lock              321465180
31      wait/synch/cond/sql/Relay_log_info::data_cond              319228752
32     wait/synch/cond/sql/Relay_log_info::start_cond              319228760
33      wait/synch/cond/sql/Relay_log_info::stop_cond              319228768
34     wait/synch/cond/sql/Relay_log_info::sleep_cond              319228776
35  wait/synch/cond/sql/Relay_log_info::log_space_...              319235148
36  wait/synch/cond/sql/Relay_log_info::pending_jo...              319237240
37   wait/synch/cond/sql/Relay_log_info::mts_gaq_cond              319229100
38   wait/synch/cond/sql/MYSQL_RELAY_LOG::update_cond              319230272
39  wait/synch/cond/sql/MYSQL_RELAY_LOG::prep_xids...              319232360
40     wait/synch/cond/sql/MYSQL_RELAY_LOG::COND_done              319232492
41               wait/synch/cond/sql/COND_queue_state              319032124
42    wait/synch/cond/sql/Event_scheduler::COND_state              128171580
43  wait/synch/cond/sql/MDL_context::COND_wait_status              319022684
44                  wait/synch/cond/sql/COND_thr_lock              319025516
45  wait/synch/cond/sql/MDL_context::COND_wait_status              319498532
46                  wait/synch/cond/sql/COND_thr_lock              319501364
47  wait/synch/cond/sql/MDL_context::COND_wait_status              319700628
48                  wait/synch/cond/sql/COND_thr_lock              319703460

In [50]:
link.close()