In [12]:
import mysql.connector

config = {
  'user': 'root',
  'password': 'root',
  'host': 'localhost',
  'database': 'learning_sql_database',
  'raise_on_warnings': True,
}

link = mysql.connector.connect(**config, buffered=True)

In [13]:
mycursor =  link.cursor()
mycursor.execute(
"""CREATE TABLE sql_lesson_1_movies
(
    Id INT PRIMARY KEY UNIQUE,
    Title VARCHAR(50),
    Director VARCHAR(50),
    Year INT,
    Length_minutes INT)"""
)

In [38]:
mycursor = link.cursor()

sql = "INSERT INTO sql_lesson_1_movies (Id, Title, Director, Year, Length_minutes) VALUES (%s, %s, %s, %s, %s)"
val = (1, "Toy", "Story", "John Lasseter", 1995, 81)

mycursor.execute(sql, val)

link.commit()
print(mycursor.rowcount, 'record(s) inserted.')

ProgrammingError: Not all parameters were used in the SQL statement

In [36]:
import pandas as pd

pd.read_sql_query('SELECT * FROM sql_lesson_1_movies', link)

Empty DataFrame
Columns: [Id, Title, Director, Year, Length_minutes]
Index: []