In [13]:
import mysql.connector

mydb = mysql.connector.connect(
    user='root',
    passwd='root',
    host='localhost',
    database='learning_sql_database'
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001E6DB7EDA88>

In [3]:
mycursor = mydb.cursor()

mycursor.execute(
"""CREATE TABLE sql_lesson_boxoffice
(
    Movie_id DOUBLE,
    Rating DOUBLE,
    Domestic_sales DOUBLE,
    International_sales DOUBLE)"""
)

In [4]:
mycursor = mydb.cursor()

sql = "REPLACE INTO sql_lesson_boxoffice (Movie_id, Rating, Domestic_sales, International_sales) VALUES (%s, %s, %s, %s)"
val = [
    (5, 8.2, 380843261, 555900000),
    (14, 7.4, 268492764, 475066843),
    (8, 8, 206445654, 417277164),
    (12, 6.4, 191452396, 368400000),
    (3, 7.9, 245852179, 239163000),
    (6, 8, 261441092, 370001000),
    (9, 8.5, 223808164, 297503696),
    (11, 8.4, 415004880, 648167031),
    (1, 8.3, 191796233, 170162503),
    (7, 7.2, 244082982, 217900167),
    (10, 8.3, 293004164, 438338580),
    (4, 8.1, 289916256, 272900000),
    (2, 7.2, 162798565, 200600000),
    (13, 7.2, 237283207, 301700000)
]

mycursor.executemany(sql, val)

mydb.commit()
print(mycursor.rowcount, 'record(s) inserted.')

14 record(s) inserted.

In [11]:
sql = """
SELECT title, domestic_sales, international_sales 
FROM sql_lesson_1_movies
JOIN boxoffice
ON sql_lesson_1_movies.id = sql_lesson_boxoffice.Movie_id
"""

In [12]:
import pandas as pd

pd.read_sql_query(sql, mydb)

DatabaseError: Execution failed on sql '
SELECT title, domestic_sales, international_sales
FROM sql_lesson_1_movies
JOIN boxoffice
ON sql_lesson_1_movies.id = sql_lesson_boxoffice.Movie_id
': 1146 (42S02): Table 'learning_sql_database.boxoffice' doesn't exist