### Query order of execution

1. `FROM` and `JOINs`
The FROM clause, and subsequent JOINs are first executed to determine the total working set of data that is being queried. This includes subqueries in this clause, and can cause temporary tables to be created under the hood containing all the columns and rows of the tables being joined.

2. `WHERE`
Once we have the total working set of data, the first-pass WHERE constraints are applied to the individual rows, and rows that do not satisfy the constraint are discarded. Each of the constraints can only access columns directly from the tables requested in the FROM clause. Aliases in the SELECT part of the query are not accessible in most databases since they may include expressions dependent on parts of the query that have not yet executed.

3. `GROUP BY`
The remaining rows after the WHERE constraints are applied are then grouped based on common values in the column specified in the GROUP BY clause. As a result of the grouping, there will only be as many rows as there are unique values in that column. Implicitly, this means that you should only need to use this when you have aggregate functions in your query.

4. `HAVING`
If the query has a GROUP BY clause, then the constraints in the HAVING clause are then applied to the grouped rows, discard the grouped rows that don't satisfy the constraint. Like the WHERE clause, aliases are also not accessible from this step in most databases.

5. `SELECT`
Any expressions in the SELECT part of the query are finally computed.

6. `DISTINCT`
Of the remaining rows, rows with duplicate values in the column marked as DISTINCT will be discarded.

7. `ORDER BY`
If an order is specified by the ORDER BY clause, the rows are then sorted by the specified data in either ascending or descending order. Since all the expressions in the SELECT part of the query have been computed, you can reference aliases in this clause.

8. `LIMIT / OFFSET`
Finally, the rows that fall outside the range specified by the LIMIT and OFFSET are discarded, leaving the final set of rows to be returned from the query.

### Basic Queries

Views  
-- filter your columns  
 `SELECT` col1, col2, col3, ... FROM table1  
-- filter the rows  
 `WHERE` col4 = 1 AND col5 = 2  
-- aggregate the data  
 `GROUP` by …  
-- limit aggregated data  
 `HAVING` count(*) > 1  
-- order of the results  
 `ORDER BY` col2  
 
Useful keywords for SELECTS:  
`DISTINCT` - return unique results  
`BETWEEN` a `AND` b - limit the range, the values can be numbers, text, or dates  
`LIKE` - pattern search within the column text  
`IN` (a, b, c) - check if the value is contained among given.

Data Modification  
-- update specific data with the WHERE clause  
 `UPDATE` table1 `SET` col1 = 1 `WHERE` col2 = 2  
-- insert values manually  
 `INSERT INTO` table1 (`ID`, `FIRST_NAME`, `LAST_NAME`)  
 `VALUES` (1, ‘Rebel’, ‘Labs’);  
-- or by using the results of a query  
 `INSERT INTO` table1 (`ID`, `FIRST_NAME`, `LAST_NAME`)   
 `SELECT` id, last_name, first_name `FROM` table2

Views  
A `VIEW` is a virtual table, which is a result of a query.  
They can be used to create virtual tables of complex queries.

`CREATE VIEW` view1 AS  
`SELECT` col1, col2  
`FROM` table1  
`WHERE` …