In [ ]:
# Path of the file to read

# Create target object and call it y

# Create X

# Split into validation and training data

# Specify Model

# Fit Model

# Make validation predictions and calculate mean absolute error

# Show a prediction result and real data.

In [2]:
# Importing the libraries
import pandas as pd

In [79]:
# Impoirting the dataset
house_prices_dataset_path = "./data/house-prices-advanced-regression-techniques/sample_submission.csv"
house_prices_test_path = "./data/house-prices-advanced-regression-techniques/test.csv"
house_prices_train_path = "./data/house-prices-advanced-regression-techniques/train.csv"
house_data_discription_path = "./data/house-prices-advanced-regression-techniques/data_description.txt"

house_prices = pd.read_csv(house_prices_dataset_path)
house_prices_test = pd.read_csv(house_prices_test_path)
house_prices_train = pd.read_csv(house_prices_test_path)

In [20]:
# Exporting the data (name of columns) to .xlsx file to more convenient work.
df = pd.DataFrame(house_prices_train.columns)
df.to_excel('./auxiliary_files/show_columns.xlsx', sheet_name='Column Names')

In [302]:
class Evaluate_the_data:
    """Checks validation of the data"""
    def __init__(self, data_set, col_name):
        self.data = data_set
        self.col_name = col_name
    
    def is_nan(self):
        # returning number of the NaN cells.
        return pd.isnull(self.data[self.col_name]).value_counts()

    def value_counter(self):
        # returning count number of rows with each unique value of variable.
        return self.data[self.col_name].value_counts(sort=False)

In [300]:
columns_of_dataset = house_prices_test.columns.tolist()

In [303]:
for i in columns_of_dataset:
    test = Evaluate_the_data(house_prices_test, f'{i}')
    
    print("\n" + 25*"=", i, 25*"=")
    
    print(50 * "-")
    print(f"NaN cells:\n{test.is_nan()}")
    print(50 * "-")
    print(f"Counter of unique values:\n{test.value_counter()}")

========================= Id =========================
--------------------------------------------------
NaN cells:
False    1459
Name: Id, dtype: int64
--------------------------------------------------
Counter of unique values:
2048    1
2049    1
2050    1
2051    1
2052    1
       ..
2043    1
2044    1
2045    1
2046    1
2047    1
Name: Id, Length: 1459, dtype: int64

========================= MSSubClass =========================
--------------------------------------------------
NaN cells:
False    1459
Name: MSSubClass, dtype: int64
--------------------------------------------------
Counter of unique values:
20     543
30      70
40       2
45       6
50     143
60     276
70      68
75       7
80      60
85      28
90      57
120     95
150      1
160     65
180      7
190     31
Name: MSSubClass, dtype: int64

========================= MSZoning =========================
--------------------------------------------------
NaN cells:
False    1455
True        4
Name: MSZoning, dtype: int64
--------------------------------------------------
Counter of unique values:
RH           10
RL         1114
RM          242
FV           74
C (all)      15
Name: MSZoning, dtype: int64

========================= LotFrontage =========================
--------------------------------------------------
NaN cells:
False    1232
True      227
Name: LotFrontage, dtype: int64
--------------------------------------------------
Counter of unique values:
80.0     68
74.0     24
78.0     21
43.0     11
63.0     30
         ..
134.0     1
121.0     1
135.0     1
149.0     1
131.0     1
Name: LotFrontage, Length: 115, dtype: int64

========================= LotArea =========================
--------------------------------------------------
NaN cells:
False    1459
Name: LotArea, dtype: int64
--------------------------------------------------
Counter of unique values:
12291    1
12292    1
8197     1
2058     1
12299    1
        ..
14330    2
21281    1
24572    1
12285    1
8304     1
Name: LotArea, Length: 1106, dtype: int64

========================= Street =========================
--------------------------------------------------
NaN cells:
False    1459
Name: Street, dtype: int64
--------------------------------------------------
Counter of unique values:
Pave    1453
Grvl       6
Name: Street, dtype: int64

========================= Alley =========================
--------------------------------------------------
NaN cells:
True     1352
False     107
Name: Alley, dtype: int64
--------------------------------------------------
Counter of unique values:
Pave    37
Grvl    70
Name: Alley, dtype: int64

========================= LotShape =========================
--------------------------------------------------
NaN cells:
False    1459
Name: LotShape, dtype: int64
--------------------------------------------------
Counter of unique values:
IR3      6
Reg    934
IR1    484
IR2     35
Name: LotShape, dtype: int64

========================= LandContour =========================
--------------------------------------------------
NaN cells:
False    1459
Name: LandContour, dtype: int64
--------------------------------------------------
Counter of unique values:
Low      24
Bnk      54
HLS      70
Lvl    1311
Name: LandContour, dtype: int64

========================= Utilities =========================
--------------------------------------------------
NaN cells:
False    1457
True        2
Name: Utilities, dtype: int64
--------------------------------------------------
Counter of unique values:
AllPub    1457
Name: Utilities, dtype: int64

========================= LotConfig =========================
--------------------------------------------------
NaN cells:
False    1459
Name: LotConfig, dtype: int64
--------------------------------------------------
Counter of unique values:
FR3          10
CulDSac      82
FR2          38
Inside     1081
Corner      248
Name: LotConfig, dtype: int64

========================= LandSlope =========================
--------------------------------------------------
NaN cells:
False    1459
Name: LandSlope, dtype: int64
--------------------------------------------------
Counter of unique values:
Sev       3
Gtl    1396
Mod      60
Name: LandSlope, dtype: int64

========================= Neighborhood =========================
--------------------------------------------------
NaN cells:
False    1459
Name: Neighborhood, dtype: int64
--------------------------------------------------
Counter of unique values:
Gilbert     86
Somerst     96
SWISU       23
NoRidge     30
Sawyer      77
Crawfor     52
OldTown    126
Mitchel     65
IDOTRR      56
NAmes      218
NPkVill     14
NridgHt     89
NWAmes      58
Blueste      8
BrkSide     50
SawyerW     66
Veenker     13
Timber      34
CollgCr    117
BrDale      14
StoneBr     26
ClearCr     16
Blmngtn     11
MeadowV     20
Edwards     94
Name: Neighborhood, dtype: int64

========================= Condition1 =========================
--------------------------------------------------
NaN cells:
False    1459
Name: Condition1, dtype: int64
--------------------------------------------------
Counter of unique values:
RRNn         4
PosN        20
Artery      44
RRNe         4
Feedr       83
RRAe        17
Norm      1251
RRAn        24
PosA        12
Name: Condition1, dtype: int64

========================= Condition2 =========================
--------------------------------------------------
NaN cells:
False    1459
Name: Condition2, dtype: int64
--------------------------------------------------
Counter of unique values:
PosN         2
Artery       3
Feedr        7
Norm      1444
PosA         3
Name: Condition2, dtype: int64

========================= BldgType =========================
--------------------------------------------------
NaN cells:
False    1459
Name: BldgType, dtype: int64
--------------------------------------------------
Counter of unique values:
Twnhs       53
TwnhsE     113
2fmCon      31
Duplex      57
1Fam      1205
Name: BldgType, dtype: int64

========================= HouseStyle =========================
--------------------------------------------------
NaN cells:
False    1459
Name: HouseStyle, dtype: int64
--------------------------------------------------
Counter of unique values:
SLvl       63
1.5Unf      5
2.5Unf     13
1.5Fin    160
2Story    427
SFoyer     46
1Story    745
Name: HouseStyle, dtype: int64

========================= OverallQual =========================
--------------------------------------------------
NaN cells:
False    1459
Name: OverallQual, dtype: int64
--------------------------------------------------
Counter of unique values:
1       2
2      10
3      20
4     110
5     428
6     357
7     281
8     174
9      64
10     13
Name: OverallQual, dtype: int64

========================= OverallCond =========================
--------------------------------------------------
NaN cells:
False    1459
Name: OverallCond, dtype: int64
--------------------------------------------------
Counter of unique values:
1      6
2      5
3     25
4     44
5    824
6    279
7    185
8     72
9     19
Name: OverallCond, dtype: int64

========================= YearBuilt =========================
--------------------------------------------------
NaN cells:
False    1459
Name: YearBuilt, dtype: int64
--------------------------------------------------
Counter of unique values:
1879     1
1880     1
1890     5
1895     3
1896     1
        ..
2006    71
2007    60
2008    26
2009     7
2010     2
Name: YearBuilt, Length: 106, dtype: int64

========================= YearRemodAdd =========================
--------------------------------------------------
NaN cells:
False    1459
Name: YearRemodAdd, dtype: int64
--------------------------------------------------
Counter of unique values:
1950    183
1951     10
1952     10
1953     10
1954     14
       ...
2006    105
2007     88
2008     41
2009     11
2010      7
Name: YearRemodAdd, Length: 61, dtype: int64

========================= RoofStyle =========================
--------------------------------------------------
NaN cells:
False    1459
Name: RoofStyle, dtype: int64
--------------------------------------------------
Counter of unique values:
Shed          3
Flat          7
Gable      1169
Hip         265
Gambrel      11
Mansard       4
Name: RoofStyle, dtype: int64

========================= RoofMatl =========================
--------------------------------------------------
NaN cells:
False    1459
Name: RoofMatl, dtype: int64
--------------------------------------------------
Counter of unique values:
WdShake       4
Tar&Grv      12
WdShngl       1
CompShg    1442
Name: RoofMatl, dtype: int64

========================= Exterior1st =========================
--------------------------------------------------
NaN cells:
False    1458
True        1
Name: Exterior1st, dtype: int64
--------------------------------------------------
Counter of unique values:
BrkFace     37
Wd Sdng    205
HdBoard    220
AsphShn      1
MetalSd    230
Plywood    113
CBlock       1
BrkComm      4
VinylSd    510
AsbShng     24
CemntBd     65
Stucco      18
WdShing     30
Name: Exterior1st, dtype: int64

========================= Exterior2nd =========================
--------------------------------------------------
NaN cells:
False    1458
True        1
Name: Exterior2nd, dtype: int64
--------------------------------------------------
Counter of unique values:
ImStucc      5
BrkFace     22
Wd Sdng    194
HdBoard    199
Stone        1
AsphShn      1
MetalSd    233
Brk Cmn     15
CmentBd     66
Plywood    128
CBlock       2
VinylSd    510
AsbShng     18
Stucco      21
Wd Shng     43
Name: Exterior2nd, dtype: int64

========================= MasVnrType =========================
--------------------------------------------------
NaN cells:
False    1443
True       16
Name: MasVnrType, dtype: int64
--------------------------------------------------
Counter of unique values:
BrkFace    434
Stone      121
BrkCmn      10
None       878
Name: MasVnrType, dtype: int64

========================= MasVnrArea =========================
--------------------------------------------------
NaN cells:
False    1444
True       15
Name: MasVnrArea, dtype: int64
--------------------------------------------------
Counter of unique values:
0.0       877
108.0       3
20.0        4
504.0       6
256.0       5
         ...
738.0       1
405.0       1
647.0       1
525.0       2
1159.0      1
Name: MasVnrArea, Length: 303, dtype: int64

========================= ExterQual =========================
--------------------------------------------------
NaN cells:
False    1459
Name: ExterQual, dtype: int64
--------------------------------------------------
Counter of unique values:
Ex     55
Gd    491
Fa     21
TA    892
Name: ExterQual, dtype: int64

========================= ExterCond =========================
--------------------------------------------------
NaN cells:
False    1459
Name: ExterCond, dtype: int64
--------------------------------------------------
Counter of unique values:
Ex       9
Gd     153
Fa      39
Po       2
TA    1256
Name: ExterCond, dtype: int64

========================= Foundation =========================
--------------------------------------------------
NaN cells:
False    1459
Name: Foundation, dtype: int64
--------------------------------------------------
Counter of unique values:
Slab       25
Stone       5
PConc     661
CBlock    601
Wood        2
BrkTil    165
Name: Foundation, dtype: int64

========================= BsmtQual =========================
--------------------------------------------------
NaN cells:
False    1415
True       44
Name: BsmtQual, dtype: int64
--------------------------------------------------
Counter of unique values:
Ex    137
Gd    591
Fa     53
TA    634
Name: BsmtQual, dtype: int64

========================= BsmtCond =========================
--------------------------------------------------
NaN cells:
False    1414
True       45
Name: BsmtCond, dtype: int64
--------------------------------------------------
Counter of unique values:
Gd      57
Fa      59
Po       3
TA    1295
Name: BsmtCond, dtype: int64

========================= BsmtExposure =========================
--------------------------------------------------
NaN cells:
False    1415
True       44
Name: BsmtExposure, dtype: int64
--------------------------------------------------
Counter of unique values:
Gd    142
Mn    125
No    951
Av    197
Name: BsmtExposure, dtype: int64

========================= BsmtFinType1 =========================
--------------------------------------------------
NaN cells:
False    1417
True       42
Name: BsmtFinType1, dtype: int64
--------------------------------------------------
Counter of unique values:
LwQ     80
GLQ    431
Rec    155
BLQ    121
ALQ    209
Unf    421
Name: BsmtFinType1, dtype: int64

========================= BsmtFinSF1 =========================
--------------------------------------------------
NaN cells:
False    1458
True        1
Name: BsmtFinSF1, dtype: int64
--------------------------------------------------
Counter of unique values:
468.0       4
0.0       462
156.0       1
110.0       3
28.0        2
         ...
853.0       1
691.0       1
1319.0      1
1149.0      1
1243.0      1
Name: BsmtFinSF1, Length: 669, dtype: int64

========================= BsmtFinType2 =========================
--------------------------------------------------
NaN cells:
False    1417
True       42
Name: BsmtFinType2, dtype: int64
--------------------------------------------------
Counter of unique values:
LwQ      41
GLQ      20
ALQ      33
Rec      51
BLQ      35
Unf    1237
Name: BsmtFinType2, dtype: int64

========================= BsmtFinSF2 =========================
--------------------------------------------------
NaN cells:
False    1458
True        1
Name: BsmtFinSF2, dtype: int64
--------------------------------------------------
Counter of unique values:
144.0       2
0.0      1278
78.0        1
42.0        2
46.0        1
         ...
670.0       1
982.0       1
297.0       1
679.0       1
619.0       1
Name: BsmtFinSF2, Length: 161, dtype: int64

========================= BsmtUnfSF =========================
--------------------------------------------------
NaN cells:
False    1458
True        1
Name: BsmtUnfSF, dtype: int64
--------------------------------------------------
Counter of unique values:
270.0       4
0.0       123
58.0        1
54.0        2
225.0       1
         ...
535.0       1
637.0       1
1095.0      1
1405.0      1
1211.0      1
Name: BsmtUnfSF, Length: 793, dtype: int64

========================= TotalBsmtSF =========================
--------------------------------------------------
NaN cells:
False    1458
True        1
Name: TotalBsmtSF, dtype: int64
--------------------------------------------------
Counter of unique values:
882.0      4
928.0      4
1280.0     3
384.0     12
816.0     10
          ..
1073.0     5
1103.0     1
1061.0     1
1059.0     1
1721.0     2
Name: TotalBsmtSF, Length: 736, dtype: int64

========================= Heating =========================
--------------------------------------------------
NaN cells:
False    1459
Name: Heating, dtype: int64
--------------------------------------------------
Counter of unique values:
Grav       2
GasW       9
Wall       2
GasA    1446
Name: Heating, dtype: int64

========================= HeatingQC =========================
--------------------------------------------------
NaN cells:
False    1459
Name: HeatingQC, dtype: int64
--------------------------------------------------
Counter of unique values:
Ex    752
Gd    233
Fa     43
Po      2
TA    429
Name: HeatingQC, dtype: int64

========================= CentralAir =========================
--------------------------------------------------
NaN cells:
False    1459
Name: CentralAir, dtype: int64
--------------------------------------------------
Counter of unique values:
Y    1358
N     101
Name: CentralAir, dtype: int64

========================= Electrical =========================
--------------------------------------------------
NaN cells:
False    1459
Name: Electrical, dtype: int64
--------------------------------------------------
Counter of unique values:
FuseP       5
FuseA      94
FuseF      23
SBrkr    1337
Name: Electrical, dtype: int64

========================= 1stFlrSF =========================
--------------------------------------------------
NaN cells:
False    1459
Name: 1stFlrSF, dtype: int64
--------------------------------------------------
Counter of unique values:
2048    1
2063    1
2064    1
2071    1
2079    1
       ..
2034    1
2036    2
2039    1
2042    1
2046    1
Name: 1stFlrSF, Length: 789, dtype: int64

========================= 2ndFlrSF =========================
--------------------------------------------------
NaN cells:
False    1459
Name: 2ndFlrSF, dtype: int64
--------------------------------------------------
Counter of unique values:
0       839
125       1
144       1
180       1
182       1
       ...
1721      1
1778      1
1788      1
1836      1
1862      1
Name: 2ndFlrSF, Length: 407, dtype: int64

========================= LowQualFinSF =========================
--------------------------------------------------
NaN cells:
False    1459
Name: LowQualFinSF, dtype: int64
--------------------------------------------------
Counter of unique values:
0       1445
80         1
108        1
114        1
140        1
205        1
259        1
312        1
362        1
431        1
436        1
450        1
512        1
697        1
1064       1
Name: LowQualFinSF, dtype: int64

========================= GrLivArea =========================
--------------------------------------------------
NaN cells:
False    1459
Name: GrLivArea, dtype: int64
--------------------------------------------------
Counter of unique values:
2048    2
2840    1
2050    1
2052    1
2049    1
       ..
2037    1
2039    1
2042    1
2044    1
2046    1
Name: GrLivArea, Length: 879, dtype: int64

========================= BsmtFullBath =========================
--------------------------------------------------
NaN cells:
False    1457
True        2
Name: BsmtFullBath, dtype: int64
--------------------------------------------------
Counter of unique values:
0.0    849
1.0    584
2.0     23
3.0      1
Name: BsmtFullBath, dtype: int64

========================= BsmtHalfBath =========================
--------------------------------------------------
NaN cells:
False    1457
True        2
Name: BsmtHalfBath, dtype: int64
--------------------------------------------------
Counter of unique values:
0.0    1364
1.0      91
2.0       2
Name: BsmtHalfBath, dtype: int64

========================= FullBath =========================
--------------------------------------------------
NaN cells:
False    1459
Name: FullBath, dtype: int64
--------------------------------------------------
Counter of unique values:
0      3
1    659
2    762
3     31
4      4
Name: FullBath, dtype: int64

========================= HalfBath =========================
--------------------------------------------------
NaN cells:
False    1459
Name: HalfBath, dtype: int64
--------------------------------------------------
Counter of unique values:
0    921
1    525
2     13
Name: HalfBath, dtype: int64

========================= BedroomAbvGr =========================
--------------------------------------------------
NaN cells:
False    1459
Name: BedroomAbvGr, dtype: int64
--------------------------------------------------
Counter of unique values:
0      2
1     53
2    384
3    792
4    187
5     27
6     14
Name: BedroomAbvGr, dtype: int64

========================= KitchenAbvGr =========================
--------------------------------------------------
NaN cells:
False    1459
Name: KitchenAbvGr, dtype: int64
--------------------------------------------------
Counter of unique values:
0       2
1    1393
2      64

In [ ]:
future = ['MSSubClass', ]