### Introduction
Plucking the right data out of our data representation is critical to getting work done, as we demonstrated in the exercises.

This tutorial will cover different operations we can apply to our data to get the input "just right".

In [1]:
import pandas as pd

In [192]:
# Get data
wine_magazine = pd.read_csv('../data/wine_magazine/winemag-data_first150k.csv')
wine_magazine.shape

(144035, 10)

In [193]:
# Find error(not a number values) in row of Dataset
# Since the correct elements are no more than three characters in length, I will find all that more.
x = []
for i, j in enumerate(wine_magazine.points):
    if len(str(j)) > 3:
        x.append(i)
#         print(j) # error's row(item) print 
print(x)

[14178, 14997, 18800, 19076, 21217, 25151, 30794, 32346, 37674, 38366, 38534, 39099, 39165, 39218, 41212, 44310, 45544, 48624, 48756, 49404, 49747, 51487, 52109, 52294, 52295, 56726, 60731, 61027, 69136, 70922, 70983, 71272, 72141, 72658, 74487, 74535, 75755, 76667, 76938, 77089, 77389, 77746, 77959, 78578, 79433, 79985, 80024, 81560, 81829, 83671, 89674, 93332, 93367, 93943, 102634, 115316, 124294, 128757, 133431, 137107, 137962, 141477]

In [194]:
# Drop(delete) row with errors
for i in x:
    wine_magazine = wine_magazine.drop([i], axis=0)

In [195]:
# Drop(delete) not a number values in 'Points' column of 'Wine Magazine' Dataset.
wine_magazine = wine_magazine.dropna(subset=['points'])

In [196]:
# Change the datatype of one or more columns to numeric
wine_magazine[['points', 'price']] = wine_magazine[['points', 'price']].astype(float)

### Summary functions

Pandas provides many simple "summary functions" (not an official name) which restructure the data in some useful way.  
For example, consider the `describe()` method:

In [197]:
wine_magazine.points.describe()

count    143968.000000
mean         87.884509
std           4.024777
min          80.000000
25%          86.000000
50%          88.000000
75%          90.000000
max         618.000000
Name: points, dtype: float64