### Introduction
Plucking the right data out of our data representation is critical to getting work done, as we demonstrated in the exercises.

This tutorial will cover different operations we can apply to our data to get the input "just right".

In [1]:
import pandas as pd

In [73]:
# Get data
wine_magazine = pd.read_csv('../data/wine_magazine/winemag-data_first150k.csv')
wine_magazine.shape

(144035, 10)

In [74]:
# Find error(not a number values) in row of Dataset
# Since the correct elements are no more than three characters in length, I will find all that more.
x = []
for i, j in enumerate(wine_magazine.points):
    if len(str(j)) > 3:
        x.append(i)
#         print(j) # error's row(item) print 
print(x)

[14178, 14997, 18800, 19076, 21217, 25151, 30794, 32346, 37674, 38366, 38534, 39099, 39165, 39218, 41212, 44310, 45544, 48624, 48756, 49404, 49747, 51487, 52109, 52294, 52295, 56726, 60731, 61027, 69136, 70922, 70983, 71272, 72141, 72658, 74487, 74535, 75755, 76667, 76938, 77089, 77389, 77746, 77959, 78578, 79433, 79985, 80024, 81560, 81829, 83671, 89674, 93332, 93367, 93943, 102634, 115316, 124294, 128757, 133431, 137107, 137962, 141477]

In [75]:
# Drop(delete) row with errors
for i in x:
    wine_magazine = wine_magazine.drop([i], axis=0)

In [76]:
# Drop(delete) not a number values in 'Points' column of 'Wine Magazine' Dataset.
wine_magazine = wine_magazine.dropna(subset=['points'])

In [77]:
# Change the datatype of one or more columns to numeric
wine_magazine[['points', 'price']] = wine_magazine[['points', 'price']].astype(float)

In [78]:
# Drop(delete) row that over 100 points
x = list(wine_magazine.loc[wine_magazine.points > 100].index)
for i in x:
    wine_magazine = wine_magazine.drop([i], axis=0)

### Summary functions

Pandas provides many simple "summary functions" (not an official name) which restructure the data in some useful way.  
For example, consider the `describe()` method:

In [81]:
wine_magazine.price.describe()

count    130579.000000
mean         33.123841
std          36.374725
min           4.000000
25%          16.000000
50%          24.000000
75%          40.000000
max        2300.000000
Name: price, dtype: float64

In [53]:
wine_magazine.loc[wine_magazine.points > 100]

,country,designation,points,price,province,region_1,region_2,variety,winery,last_year_points
18931,Italy,Riserva 0,618.0,89.0,75.0,Southern Italy,Castel del Monte,NaN,Nero di Troia,Santa Lucia
33255,Italy,Riserva 0,618.0,89.0,75.0,Southern Italy,Castel del Monte,NaN,Nero di Troia,Santa Lucia
75380,Italy,Riserva 0,618.0,89.0,75.0,Southern Italy,Castel del Monte,NaN,Nero di Troia,Santa Lucia