# Lists

In [3]:
primes = [2, 3, 5, 7]
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [4]:
# We can make a list of lists:

hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], #(Comma after the last element is optional)
]

# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [6]:
# A list can contain a mix of different types of variables:

my_favourite_things = [32, 'raindrops on roses', help]

my_favourite_things[2] # the help function of Python.

Type help() for interactive help, or help(object) for help about object.

# Indexing

You can access individual list elements with square brackets.\
Which planet is closest to the sun? Python uses zero-based indexing, so the first element has index 0.

In [7]:
planets[0] # the first planet closest to sun.

'Mercury'

In [8]:
planets[1] # the second planet closest to sun.

'Venus'

In [9]:
planets[-1] # the planet furthest from the sun.

'Neptune'

# Slicing

In [12]:
planets[0: 3] # the first three planets from the sun.

['Mercury', 'Venus', 'Earth']

In [13]:
planets[: 3] # I could rewrite the expression above.

['Mercury', 'Venus', 'Earth']

In [14]:
planets[3:] # All planets from index 3 onward.

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [15]:
planets[1: -1] # All planets except the first and last.

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [16]:
planets[-3:] # The last three planets.

['Saturn', 'Uranus', 'Neptune']

# Changing lists

In [18]:
# For example we want to rename Mars:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [19]:
# Let's shortening the names of the first 3 planets.
planets[: 3] = ['Mer', 'Vee', 'Er']
planets

['Mer', 'Vee', 'Er', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [20]:
# Let's give them back their old names.
planets[: 4] = ['Mercury', 'Venus', 'Earth', 'Mars']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# List functions

In [22]:
# How many planets are there?
len(planets) # len, gives the lenght of a list

8

In [25]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [26]:
primes = [2, 3, 5, 7]

sum(primes)

17

In [28]:
max(primes)
# min(primes)

7

# Interlude: objects

In [30]:
x = 12 # x is a real number, so its imaginary part is 0.
print(x.imag)

0

In [34]:
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 4j
print(c.imag)

4.0

In [35]:
# Method is a function attached to an object.
x.bit_length() # How many bits of memory in 'x' variable?

4

# List methods

In [36]:
# Pluto is a planet too!
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [40]:
help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [42]:
# Remove Pluto
planets.pop()
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [41]:
help(planets.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [44]:
# Seaching lists
planets.index('Earth')

2

In [45]:
help(planets.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [46]:
# Is Earth a planet
'Earth' in planets

True

In [47]:
# Pluto is a planet
'Pluto' in planets

False

In [49]:
# help(planets)

# Tuples

Tuples are almost exactly the same as lists. They differ inn just two ways.

In [52]:
# 1.The sintax for creating tuple uses parentheses instead of square brackets.
t = (1, 2, 3)

In [54]:
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

In [55]:
# 2.They cannot be modified (they are immutable).
t[0]

1

In [58]:
# t[0] = 2 
# >>> TypeError: 'tuple' object does not support item assignment

In [59]:
# Tuples are often used for functions that have multiple return values.
# as-integer-ratio() is a method of float objects returns a numerator and a denominator in the form of a tuple:
x = 0.25
x.as_integer_ratio()

(1, 4)

or fraction
$
\frac{1}{4}
$

In [62]:
# These multiple return values can be individually assigned as follows:
numerator, denominator = x.as_integer_ratio()
numerator / denominator

0.25

In [66]:
# Swapping two variables.
a = 1
b = 2

a, b = b, a # swap trick

print(f'a = {a}, b = {b}')

a = 2, b = 1

# Exercise: Lists

1.Complmete the function below according to its docstring.

In [72]:
L = [1, 2, 3]
# L = [1]
 
def select_second(L):
    '''
    Return the second element of the given list. IF the list has no second element, return None.
    '''
    return L[1] if len(L) > 1 else None

select_second(L)

2

2. You are analyzing sports teams. Members of each team are stored in a list.\
The Coach is the first name in the list, the captain is the second name in the list,\
and other players are listed after that. These lists are stored in another list,\
which starts with the best team and proceeds through the list to the worst team last.\
Complete the function below to select the captain of the worst team.

In [97]:
teams=[['Paul', 'John', 'Ringo', 'George'], ['Jen', 'Jamie']]
teams

[['Paul', 'John', 'Ringo', 'George'], ['Jen', 'Jamie']]

In [98]:
teams[-1][1]

'Jamie'

3. The next iteration of Mario Kart will feature an extra-infuriating new item, the Purple Shell.\
When used, it warps the last place racer into first place and the firts place racer into last place.\
Complete the function below to implement the Purple Shell's effect.

In [41]:
# В задаче недостаточно просто перевернуть список, 
# в ее основе лежит идея перезаписать в индекс 0 значение из последнего индекса и наоборот.
r = ["Mario", "Bowser", "Luigi"]

def purple_shell(racers):
    '''Given a list of racers, set hte first place racer (at the front of the list) to last place and vice versa.'''
    temp = racers[0]
    racers[0] = racers[-1]
    racers[-1] = temp
    
purple_shell(r)

r

['Luigi', 'Bowser', 'Mario']

4.What are the lengths of the following lists? Fill in the variable `lengths` with your predictions. (Try to make a prediction for each list *without* just calling `len()` on it.)

In [14]:
a = [1, 2, 3] # 3 элемента
b = [1, [2, 3]] # 2 элемента, так как [2, 3] так же является элементом списка как и 1.
c = [] # ноль элементов
d = [1, 2, 3][1:] # распознается только два элемента, так как [1:] - позволяет прочитать список только начиная с элемента под индексом 1.

#Put your predictions in the list below. Lenghts should contain 4 numbers, the
# first being the length of a, the second being the length of b and so on.
lengths = [3, 2, 0, 2]

5.We're using lists to record people who attended our party and what order they arrived in. For example, the following list represents a party with 7 guests, in which Adela showed up first and Ford was the last to arrive.

In [46]:
party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
name = 'Gilbert'

def fashionable_late(arrivals, name):
    """
    Given an ordered lis of arrivals to the party and a name, return whether the guest with that name was fashionably late.
    """
    # Определение места в очереди для гостя, при входе на вечеринку.
    order = arrivals.index(name) # поиск индекса элемента списка.
    
    # Определить является ли гость опоздавшим "fashionably late", или он сильно опоздал.
    return f"Is Guest {name}, fashionably late? {order >= len(arrivals) / 2 and order != len(arrivals) - 1}." # True, если индекс элемента больше половины длинны списка и не является последним.
    
fashionable_late(party_attendees, name)

'Is Guest Gilbert, fashionably late? True.'