## Strings

In [1]:
x = 'Pluto is a planet'
y = "Pluto is a planet"

x == y

True

In [2]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [3]:
'Pluto\'s a planet!'

"Pluto's a planet!"

In [4]:
hello = "Hello\nworld"
print(hello)

Hello
world

In [5]:
triplequoted_hello = """Hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

Hello
world

True

In [6]:
print("hello")
print("world")
print("hello", end=' ')
print("pluto", end=',')

hello
world
hello pluto,

## Strings are sequences

In [7]:
# Indexing 
planet = 'Pluto'
planet[0]

'P'

In [8]:
# Slicing
planet[-3:]

'uto'

In [9]:
# How long is this string?
len(planet)

5

In [10]:
# Yes, we an even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

## String methods

In [11]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [12]:
# all lovercase
claim.lower()

'pluto is a planet!'

In [13]:
# Searching for the first index of a substring.
claim.index('plan')

11

In [14]:
# STR.STARTSWITH

# Возвращает флаг, указывающий на то, начинается ли строка с указанного префикса.

# str.startswith(prefix[, start[, end]]) -> bool

# prefix : Строка-префикс ( 2.5 либо кортеж строк), в наличии которой требуется удостовериться.
# start : Позиция (индекс символа), с которой следует начать поиск. Поддерживает отрицательные значения.
# end : Позиция (индекс символа), на которой следует завершить поиск. Поддерживает отрицательные значения.

claim.startswith(planet)

# Для определения наличия постфикса в строке используйте str.endswith().

True

In [15]:
# Возвращает флаг, указывающий на то, заканчивается ли строка указанным постфиксом.
claim.endswith('anet!')

True

### Split and Join

`str.split()` turns a string into a  list of samller strings, breaking on whitespace by default.\
This is super useful for taking you from one big string to a list of words.

In [16]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [17]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

In [18]:
year

'1956'

In [19]:
month

'01'

In [20]:
day

'31'

In [21]:
datestr = '2020-07-29'
new_format = datestr.split('-')
new_format

['2020', '07', '29']

In [22]:
[int(i)*2 for i in new_format]

[4040, 14, 58]

In [23]:
phone_number = '+7-901-234-56-78'
new_format = phone_number.split('-')
new_format

['+7', '901', '234', '56', '78']

In [24]:
phone_number = '7-901-2345678'
country_code, city_code, abonent_number = phone_number.split('-')

print(country_code)
print(city_code)
print(abonent_number)

7
901
2345678

`str.join()` takes us in the other direction, sewing a list of strings up into one long string, using the string it was called on as a separator.

In [25]:
'/'.join([month, day, year])

'01/31/1956'

In [26]:
# Smiley in Python

#U+1F44F  
print('\U0001F44F')

👏

In [27]:
# >>> words = ['Pluto', 'is', 'a', 'planet!']

' \U0001F44F '.join([word.upper() for word in words]) # соединить words при помощи unicode's smiley и перевести символы в верхний регистр.

'PLUTO 👏 IS 👏 A 👏 PLANET!'

In [28]:
# f-strings

# >>> planet = 'Pluto'
position = 9
f'{planet}, you\'ll always be the {position}th planet to me.'

"Pluto, you'll always be the 9th planet to me."

### Dictionaries
Dictionaries are a built-in Python data structure for mapping keys to values.

In [41]:
# To illustrate, the following examples all return a dictionary equal to {"one": 1, "two": 2, "three": 3}:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
a == b == c == d == e

True

In [29]:
numbers = {'one':1, 'two':2, 'three':3}
numbers

{'one': 1, 'two': 2, 'three': 3}

In [30]:
numbers['one']

1

In [31]:
# add another key, value pair
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [32]:
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [33]:
# Dictionary comprehensions

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {i:i[0:3] for i in planets}
planet_to_initial

{'Mercury': 'Mer',
 'Venus': 'Ven',
 'Earth': 'Ear',
 'Mars': 'Mar',
 'Jupiter': 'Jup',
 'Saturn': 'Sat',
 'Uranus': 'Ura',
 'Neptune': 'Nep'}

The `in` operator tells us whether something is a key in the dictionary

In [34]:
'Saturn' in planets

True

A for over a dictionary will loop over its keys

In [35]:
for i in numbers:
    print(f'{i} = {numbers[i]}')

one = Pluto
two = 2
three = 3
eleven = 11

We can access a collection of all the keys or all the calues with `dict.keys()` and `dict.values()`, respectively.

In [36]:
print(planet_to_initial.values())
print(planet_to_initial.keys())

dict_values(['Mer', 'Ven', 'Ear', 'Mar', 'Jup', 'Sat', 'Ura', 'Nep'])
dict_keys(['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'])

In [37]:
' '.join(sorted(planet_to_initial.values()))

'Ear Jup Mar Mer Nep Sat Ura Ven'

The very useful `dict.items()` method lets us iterate over the keys and values of a dictionary simultaneously.\
**in Python jargon, an ITEM refers to a key, value pair**

In [38]:
print(planet_to_initial.items())

dict_items([('Mercury', 'Mer'), ('Venus', 'Ven'), ('Earth', 'Ear'), ('Mars', 'Mar'), ('Jupiter', 'Jup'), ('Saturn', 'Sat'), ('Uranus', 'Ura'), ('Neptune', 'Nep')])

In [40]:
# planet_to_initial >>>
# {'Mercury': 'Mer',
#  'Venus': 'Ven',
#  'Earth': 'Ear',
#  'Mars': 'Mar',
#  'Jupiter': 'Jup',
#  'Saturn': 'Sat',
#  'Uranus': 'Ura',
#  'Neptune': 'Nep'}

for planet, initial in planet_to_initial.items():
    print(f'{planet.rjust(10)} begins with \"{initial}\"')

   Mercury begins with "Mer"
     Venus begins with "Ven"
     Earth begins with "Ear"
      Mars begins with "Mar"
   Jupiter begins with "Jup"
    Saturn begins with "Sat"
    Uranus begins with "Ura"
   Neptune begins with "Nep"