### <font color = #2467C0>Descriptive Statistics</font>

In [19]:
import pandas as pd

In [20]:
movies = pd.read_csv('../Week-4-Pandas/movielens/movies.csv', sep = ',')
tags = pd.read_csv('../Week-4-Pandas/movielens/tags.csv', sep = ',')
ratings = pd.read_csv('../Week-4-Pandas/movielens/ratings.csv', sep = ',')

In [21]:
ratings['rating'].describe()

count    2.500010e+07
mean     3.533854e+00
std      1.060744e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [5]:
ratings.describe()

             userId       movieId        rating     timestamp
count  2.500010e+07  2.500010e+07  2.500010e+07  2.500010e+07
mean   8.118928e+04  2.138798e+04  3.533854e+00  1.215601e+09
std    4.679172e+04  3.919886e+04  1.060744e+00  2.268758e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    4.051000e+04  1.196000e+03  3.000000e+00  1.011747e+09
50%    8.091400e+04  2.947000e+03  3.500000e+00  1.198868e+09
75%    1.215570e+05  8.623000e+03  4.000000e+00  1.447205e+09
max    1.625410e+05  2.091710e+05  5.000000e+00  1.574328e+09

In [6]:
ratings['rating'].mean()

3.533854451353085

In [7]:
ratings.mean()

userId       8.118928e+04
movieId      2.138798e+04
rating       3.533854e+00
timestamp    1.215601e+09
dtype: float64

In [8]:
ratings['rating'].min()

0.5

In [9]:
ratings['rating'].max()

5.0

In [10]:
ratings['rating'].max()

5.0

In [11]:
ratings['rating'].std()

1.0607439610179747

In [12]:
ratings['rating'].mode()

0    4.0
dtype: float64

In [13]:
ratings.corr()

             userId   movieId    rating  timestamp
userId     1.000000 -0.004413  0.001940  -0.001671
movieId   -0.004413  1.000000 -0.009216   0.520900
rating     0.001940 -0.009216  1.000000   0.010015
timestamp -0.001671  0.520900  0.010015   1.000000

In [14]:
filter_1 = ratings['rating'] > 5

print(filter_1)

filter_1.any()

0           False
1           False
2           False
3           False
4           False
            ...
25000090    False
25000091    False
25000092    False
25000093    False
25000094    False
Name: rating, Length: 25000095, dtype: bool

False

In [15]:
filter_2 = ratings['rating'] > 0
filter_2.all()

True