In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
# path to the file to read
inflation_file_path = "./data/inflation_annual_percent.csv"

# read the file into a variable spotify_data
inflation = pd.read_csv(inflation_file_path)

In [53]:
# get the name of first column
# inflation.index.names = ['id']

inflation.set_index('country')

# delete the column with name 'Unnamed: 0'
# inflation = inflation.drop(columns='Unnamed: 0')
# inflation.to_csv('./data/spotify_clear.csv')

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03810,0.16600,0.07300,0.04820,0.00567,0.02450,0.05100,0.0195,0.00618,0.02240
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04490,0.02310,0.01040,0.00289,0.01550,0.00564,-0.00632,0.0145,0.01360,0.00382
Algeria,0.0347,0.02350,0.00549,0.01700,0.0150,0.0182,0.01310,0.0314,0.0192,0.0494,...,0.16100,0.18200,0.07460,-0.00094,-0.00301,-0.06460,0.01550,0.0470,0.07560,-0.00651
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00374,0.00197,0.00175,0.00448,-0.00084,0.00661,0.00348,0.0114,0.01010,0.01510
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.31700,0.31800,0.07260,0.02840,0.03560,-0.03520,0.21800,0.2260,0.29100,0.35900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0.0201,0.00665,0.04920,-0.00366,0.0217,0.0264,0.02430,0.0107,0.0178,0.0436,...,0.45900,0.28100,0.14100,0.35500,0.40400,NaN,NaN,NaN,NaN,NaN
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.12100,0.21300,0.10900,0.04760,0.03660,-0.00191,0.01110,0.0409,0.03400,0.01790
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.23600,0.18100,0.05890,0.09210,0.07160,0.27600,0.04360,0.2000,0.46900,NaN
Zambia,-0.0366,0.02090,0.00404,0.04080,0.1060,0.2360,0.00263,0.1590,0.2290,-0.1140,...,0.14000,0.11100,0.06990,0.09730,0.05440,0.06660,0.13600,0.1010,0.10200,0.03500
Zimbabwe,-0.0204,0.00470,-0.02350,0.06140,0.0270,-0.0373,0.00577,0.0387,0.0508,-0.1210,...,0.04100,0.02550,0.04030,0.09370,-0.00252,0.00608,0.02160,0.0244,0.05220,-0.04040

In [54]:
inflation.head()

,country,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03810,0.16600,0.07300,0.04820,0.00567,0.02450,0.05100,0.0195,0.00618,0.02240
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04490,0.02310,0.01040,0.00289,0.01550,0.00564,-0.00632,0.0145,0.01360,0.00382
2,Algeria,0.0347,0.0235,0.00549,0.017,0.015,0.0182,0.0131,0.0314,0.0192,...,0.16100,0.18200,0.07460,-0.00094,-0.00301,-0.06460,0.01550,0.0470,0.07560,-0.00651
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00374,0.00197,0.00175,0.00448,-0.00084,0.00661,0.00348,0.0114,0.01010,0.01510
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.31700,0.31800,0.07260,0.02840,0.03560,-0.03520,0.21800,0.2260,0.29100,0.35900

In [55]:
# print the last five rows of the data
inflation.tail()

,country,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
188,Venezuela,0.0201,0.00665,0.04920,-0.00366,0.0217,0.0264,0.02430,0.0107,0.0178,...,0.459,0.2810,0.1410,0.3550,0.40400,NaN,NaN,NaN,NaN,NaN
189,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.121,0.2130,0.1090,0.0476,0.03660,-0.00191,0.0111,0.0409,0.0340,0.0179
190,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.236,0.1810,0.0589,0.0921,0.07160,0.27600,0.0436,0.2000,0.4690,NaN
191,Zambia,-0.0366,0.02090,0.00404,0.04080,0.1060,0.2360,0.00263,0.1590,0.2290,...,0.140,0.1110,0.0699,0.0973,0.05440,0.06660,0.1360,0.1010,0.1020,0.0350
192,Zimbabwe,-0.0204,0.00470,-0.02350,0.06140,0.0270,-0.0373,0.00577,0.0387,0.0508,...,0.041,0.0255,0.0403,0.0937,-0.00252,0.00608,0.0216,0.0244,0.0522,-0.0404

In [56]:
sns.lineplot(data=inflation)

ValueError: A wide-form input must have only numeric values.