## <font color = purple>Movie Data analysis</font>

In [1]:
import pandas as pd

**Csv**<br>is a simple file format used to store tabular data
such as a spreadsheet or a database
![](..\Week-4-Pandas\Screenshot_4.png)

**JSON** _Java script object notation_<br>is a format for structuring data
and it's commonly used for communication
within web applications.

**Sequel, or SQL** _Stands for structured query language_.
SQL is used to communicate with a database using queries
to insert, delete, and select data of interest.
The read SQL query function in pandas provides
us a way to subset and load data
from a relational database to Python.
![](..\Week-4-Pandas\Screenshot_1.png)

In [5]:
!ls ../Week-4-Pandas/movielens/

README.txt
genome-scores.csv
genome-tags.csv
links.csv
movies.csv
ratings.csv
tags.csv

In [17]:
# Running "cat" to view content of this .csv file with command "wc(word count)"
!cat ../Week-4-Pandas/movielens/movies.csv | wc -l # look at the amount of strings

62424

In [19]:
# !cat ../Week-4-Pandas/movielens/movies.csv

In [21]:
!head -6 ../Week-4-Pandas/movielens/movies.csv

movieId,title,genres
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

### <font color = #2462C0>Use Pandas to Read the Dataset</font>

In [33]:
# Нам нужно указать разделитель для данных в виде запятой.
movies = pd.read_csv('../Week-4-Pandas/movielens/movies.csv', sep = ',')

print(type(movies))

movies.head(15)

<class 'pandas.core.frame.DataFrame'>

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance

In [34]:
tags = pd.read_csv('../Week-4-Pandas/movielens/tags.csv', sep = ',')
tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [35]:
ratings = pd.read_csv('../Week-4-Pandas/movielens/ratings.csv', sep = ',')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [37]:
del ratings['timestamp']
del tags['timestamp']

## <font color = purple>Data Structures</font>

### <font color = #2467C0>Series</font>

In [38]:
row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [39]:
print(row_0)

userId           3
movieId        260
tag        classic
Name: 0, dtype: object

In [40]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [41]:
row_0['userId']

3

In [42]:
'rating' in row_0

False

In [43]:
row_0.name

0

In [44]:
row_0 = row_0.rename('first_row')

row_0.name

'first_row'

### <font color = #2467C0>DataFrames</font>

In [45]:
tags.head()

   userId  movieId               tag
0       3      260           classic
1       3      260            sci-fi
2       4     1732       dark comedy
3       4     1732    great dialogue
4       4     7569  so bad it's good

In [46]:
tags.index

RangeIndex(start=0, stop=1093360, step=1)

In [47]:
tags.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

In [49]:
# extract row 0, 11, 2000 from DataFrame
tags.iloc[[0, 11, 2000]]

      userId  movieId           tag
0          3      260       classic
11         4   164909        cliche
2000     647   164179  twist ending