In [94]:
import pandas as pd
import numpy as np
import plotly.express as px
import datetime
from datetime import datetime, date

In [116]:
# Настройка вывода данных
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

## Сбор данных

In [105]:
df_f = pd.read_excel("d.xlsx", sheet_name='Лист1')

## Подготовка данных

In [106]:
# Удаление лишних столбцов и колонок
df_f = df_f.drop(index=[0, 1, 269, 270, 271], columns='Unnamed: 3389')

In [117]:
fragment_01 = df_f[:5]
fragment_01

,Территориальная иерархия ДНС,Абк в ТЦ Калина ФТ,Unnamed: 2,Unnamed: 3,Unnamed: 4,...,Unnamed: 3384,Unnamed: 3385,Unnamed: 3386,Unnamed: 3387,Unnamed: 3388
2,Названия строк,2011-08-16,2011-09-05,2011-09-06,2011-09-07,...,2020-12-15,2020-12-16,2020-12-17,2020-12-18,2020-12-19
3,01. Ноутбуки,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
4,01. Нетбуки,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
5,02. Ноутбуки,NaN,NaN,65797,86395,...,362697,380990,134997,181446,78998
6,03. Аксессуары для ноутбуков,NaN,NaN,NaN,NaN,...,-2499,NaN,2150,NaN,NaN