# **Tuple**

In [1]:
tup = 4, 5, 6

tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)

nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0, 2])

(4, 0, 2)

In [4]:
tup = tuple('string')

tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

_**once the tuple is created it’s not possible to modify which object is stored in each slot**_

In [6]:
tup = tuple(['foo', [1, 2], True])

#tup[2] = False

In [7]:
#tup[1].append(3)

#tup

In [8]:
# concotenate tuples
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [9]:
# multiplying a tuple by an integer
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [10]:
a, b = 1, 2

In [11]:
a

1

In [12]:
b

2

In [13]:
b, a = a, b

In [14]:
b

1

In [15]:
a

2

In [16]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq:
    print(f'a = {a}, b = {b}, c = {c}')

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [17]:
values = 1, 2, 3, 4, 5

a, b, *rest = values

In [18]:
a

1

In [19]:
b

2

In [20]:
a,b

(1, 2)

In [21]:
rest

[3, 4, 5]

In [22]:
a, b, *_ = values

In [23]:
a = (1, 2, 2, 2, 3, 4, 2)

In [24]:
a.count(2) # count, which counts the number of occurrences of a values

4

# **List**

In [25]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)

In [26]:
b_list

['foo', 'bar', 'baz']

In [27]:
b_list[1] = 'peekaboo'

In [28]:
b_list

['foo', 'peekaboo', 'baz']

In [29]:
gen = range(10)
gen

range(0, 10)

In [30]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [32]:
b_list.insert(0, 'red')
b_list

['red', 'foo', 'peekaboo', 'baz', 'dwarf']

In [33]:
b_list.pop(2)
b_list

['red', 'foo', 'baz', 'dwarf']

In [34]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf']

# **Concatenating and combining lists**

In [35]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [36]:
x = [4, None, 'foo']

x.extend([7, 8, (2,3)])

x

[4, None, 'foo', 7, 8, (2, 3)]

In [37]:
# fast method concatenate
# everything = []
# for chunk in list_of_lists:
#     everything.extend(chunk)

# **Sorting**

In [38]:
a = [7, 2, 5, 1, 3]

a.sort()

a

[1, 2, 3, 5, 7]

In [39]:
b = ['saw', 'small', 'He', 'foxes', 'six']

b.sort(key = len)

b

['He', 'saw', 'six', 'small', 'foxes']

# **Binary search and mointaining a sorted list**

In [40]:
import bisect

In [41]:
c = [1, 2, 2, 2, 3, 4, 7]

bisect.bisect(c, 2)

4

In [42]:
bisect.insort(c, 6)

c

[1, 2, 2, 2, 3, 4, 6, 7]

# **Slicing**

In [43]:
seq = [8, 2, 3, 7, 5, 6, 0, 1]

seq[1:5]

[2, 3, 7, 5]

In [44]:
seq[3:4] = [10, 11, 12]

In [45]:
seq

[8, 2, 3, 10, 11, 12, 5, 6, 0, 1]

In [46]:
seq[:5]

[8, 2, 3, 10, 11]

In [47]:
seq[3:]

[10, 11, 12, 5, 6, 0, 1]

In [48]:
seq[-4:]

[5, 6, 0, 1]

In [49]:
seq[-6:-2]

[11, 12, 5, 6]

In [50]:
seq[::2]

[8, 3, 11, 5, 0]

In [51]:
seq[::-1]

[1, 0, 6, 5, 12, 11, 10, 3, 2, 8]

# **Built-in sequence functions**

## enumerate

In [52]:
some_list = ['foo','bar','baz']

mapping = {}

In [53]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [54]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

## sorted

In [55]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [56]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

## zip

In [1]:
seq1 = ['foo', 'bar', 'baz']

seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)

list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [58]:
seq3 = [False, True]

list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

## reversed

In [59]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## dict

In [60]:
empty_dict = {}

d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [61]:
d1[7] = 'an integer'

In [62]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [63]:
d1['b']

[1, 2, 3, 4]

In [64]:
'b' in d1

True

In [65]:
d1[5] = 'some value'

d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [66]:
d1['dummy'] = 'another value'

d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [67]:
del d1[5]

d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [68]:
ret = d1.pop('dummy')

ret

'another value'

In [69]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [70]:
list(d1.keys())

['a', 'b', 7]

In [71]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [72]:
d1.update({'b': 'foo', 'c': 12})

d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

## Creating dicts from sequences

In [73]:
mapping = dict(zip(range(5), reversed(range(5))))

mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [74]:
## Default values
words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = {}

In [75]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [76]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

## valid dict key types

In [77]:
hash('string')

-1024514225137414184

In [78]:
hash((1, 2, (2, 3)))

1097636502276347782

## set

In [79]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [1]:
a = {1, 2, 3, 4, 5}

b = {3, 4, 5, 6, 7, 8}

In [81]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [82]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
b.intersection(a)

{3, 4, 5}

In [4]:
b & a

{3, 4, 5}

In [85]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}

my_set

{(1, 2, 3, 4)}

In [86]:
a_set = {1, 2, 3, 4, 5}

{1, 2, 3}.issubset(a_set)

True

In [87]:
a_set.issuperset({1, 2, 3})

True

In [88]:
{1, 2, 3} == {3, 4, 2, 1}

False

In [89]:
{1, 2, 3} == {3, 3, 2, 1}

True

> Sets are equal if and only if their contents are equal

## List, Set, and Dict comprehensions

List comprehensions are one of the most-loved Python language features.<br>
They allow you to concisely form a new list by filtering the elements of a collection,<br> 
transforming the elements passing the filter in one concise expression.<br>

_They take the basic form:_
```Python
[expr for val in collection if condition] 
```

_This is equivalent to the following for loop:_
```Python
result = [] for val in collection:    
    if condition:
        result.append(expr)
```

### <font color = red>Как создаются списки в Python</font>

#### Использование цикла for

In [90]:
# making emply list
squares = []

for i in range(10):
    squares.append(i * i)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Использование объектов map()

In [91]:
# Мы передаем функцию и итерируемый объект (iterable), а map() создаст объект. 
# Этот объект содержит выходные данные, которые мы получаем при запуске 
# каждого итерируемого элемента через предоставленную функцию.

# TXNS as abbreviation means "Transactions"
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08

def get_price_with_tax(txn):
    return txn * (1 + TAX_RATE)

final_prices = map(get_price_with_tax, txns)

list(final_prices)

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

#### Использование List Comprehensions

In [92]:
# При таком элегантном подходе мы можем переписать цикл for из первого примера всего в одну строку кода.
squares = [i * i for i in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Вместо того, чтобы создавать пустой список и добавлять каждый элемент в конец, мы просто определяем список и его содержимое одновременно, следуя этому формату:
```Python
new_list = [expression for member in iterable]
```

**Каждое представление списков в Python включает три элемента:**
- **expression** какое либо вычисление, вызов метода или любое другое допустимое выражение, которое возвращает значение.<br>
  В приведенном выше примере выражение i * i является квадратом значения члена.
- **member** является объектом или значением в списке или итерируемым объекте (iterable).<br>
  В приведенном выше примере значением элемента является i.
- **iterable** список, множество, последовательность, генератор или любой другой объект, который может возвращать свои элементы по одному.<br>
  В приведенном выше примере iterable является range(10).

In [93]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08

def get_price_with_tax(txn):
    return txn * (1 + TAX_RATE)

final_prices = [get_price_with_tax(i) for i in txns]

final_prices

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

> Единственное **различие между** этой реализацией и **map()** состоит в том, что **list comprehension** возвращает список, а не объект map

#### Использование условной логики

```Python
new_list = [expression for member in iterable (if conditional)]
```

In [94]:
sentence = 'the rocket came back from mars'

vowels = [i for i in sentence if i in 'aeiou']

vowels

['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

In [95]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

[x * y for x in l1 for y in l2]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [96]:
s = ['pune', 'mumbai', 'delhi']

[(w.upper(), len(w)) for w in s]

[('PUNE', 4), ('MUMBAI', 6), ('DELHI', 5)]

In [97]:
import math

[str(round(math.pi)) for i in range (1, 6)]

['3', '3', '3', '3', '3']

In [98]:
sentence = 'The rocket, who was named Ted, came back from Mars because he missed his friends.'

def is_consonant(letter):
    vowels = 'aeiou'
    return letter.isalpha() and letter.lower() not in vowels

consonants = [i for i in sentence if is_consonant(i)]

consonants

['T',
 'h',
 'r',
 'c',
 'k',
 't',
 'w',
 'h',
 'w',
 's',
 'n',
 'm',
 'd',
 'T',
 'd',
 'c',
 'm',
 'b',
 'c',
 'k',
 'f',
 'r',
 'm',
 'M',
 'r',
 's',
 'b',
 'c',
 's',
 'h',
 'm',
 's',
 's',
 'd',
 'h',
 's',
 'f',
 'r',
 'n',
 'd',
 's']

> str.isalpha - Вернёт True, если в строке хотя бы один символ и все символы строки являются буквами, иначе — False.

**!** Вы можете поместить условие в конец оператора для простой фильтрации, <br>
но что, если вы хотите изменить значение элемента вместо его фильтрации? <br>
В этом случае полезно поместить условное выражение в начале выражения.

```Python
new_list = [expression (if conditional) for member in iterable]
```

In [99]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]

prices = [i if i > 0 else 0 for i in original_prices]

prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [100]:
def get_price(price):
    return price if price > 0 else 0

prices = [get_price(i) for i in original_prices]

prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [101]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [102]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

**EX:**
```Python
set_comp = {expr for value in collection if condition}
```

#### Использование Set и Dictionary Comprehensions
**list comprehension** в Python является распространенным инструментом, <br>
вы также можете создавать множественные и словарные представления (set and dictionary comprehensions). <br>
**set comprehension** почти точно такое же, как представление списка. <br>
**Разница лишь в том, что заданные значения обеспечивают, чтобы выходные данные не содержали дубликатов.**

In [103]:
quote = 'life, uh, finds a way'

unique_vowels = {i for i in quote if i in 'aeiou'}

unique_vowels

{'a', 'e', 'i', 'u'}

In [104]:
unique_lengths = {len(x) for x in strings}

In [105]:
unique_lengths

{1, 2, 3, 4, 6}

In [106]:
set(map(len, strings))

{1, 2, 3, 4, 6}

**Dictionary comprehensions** аналогично, с дополнительным требованием определения ключа

> Чтобы создать словарь квадратов, воспользуемся фигурными скобками **({})**, а также парой ключ-значение **(i: i * i)** в своем выражении

In [107]:
squares = {i: i * i for i in range(10)}

squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [108]:
loc_mapping = {val: index for index, val in enumerate(strings)}

loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Использование оператора Walrus

In [109]:
#!!! work on Python v.3.8 +
#import random

#def get_weather_data():
#    return random.randrange(90, 100)

#hot_temps = [temp for _ in range(20) if (temp := get_weather_data()) >= 100]

#hot_temps >>> [107, 102, 109, 104, 107, 109, 108, 101, 104]

## Nested list comprehensions

In [110]:
 all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [111]:
#  nested list comprehension
result = [name for names in all_data for name in names if name.count('e') >= 2]

result

['Steven']

In [112]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [113]:
flattened = [x for tup in some_tuples for x in tup]

In [114]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## timeit
> полезная библиотека для определения времени выполнения кусков кода.

In [115]:
import random
import timeit

TAX_RATE = .08
txns = [random.randrange(100) for _ in range(100000)]

def get_price(txn):
    return txn * (1 + TAX_RATE)

def get_prices_with_map():
    return list(map(get_price, txns))

def get_prices_with_comprehension():
    return [get_price(txn) for txn in txns]

def get_prices_with_loop():
    prices = []
    for txn in txns:
        prices.append(get_price(txn))
    return prices

In [116]:
timeit.timeit(get_prices_with_map, number=100)

1.365005

In [117]:
timeit.timeit(get_prices_with_comprehension, number=100)

1.5435436

In [118]:
timeit.timeit(get_prices_with_loop, number=100)

1.8164694999999997

# **Functions**

## Returning Multiple Values

In [119]:
def f():
    a = 5
    b = 6
    c = 7
    
    return a, b, c

a, b, c = f()

a, b, c

(5, 6, 7)

In [120]:
def f():
    a = 5
    b = 7
    c = 8
    return{'a' : a, 'b' : b, 'c' : c}

f()

{'a': 5, 'b': 7, 'c': 8}

In [121]:
timeit.timeit(f, number=100)

2.0499999999756824e-05

## Functions Are Objects

In [122]:
 states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south   carolina##', 'West virginia?']

In [123]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
        
    return result

new_states = clean_strings(states)

In [124]:
new_states

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

**.strip()**
> Строка с символами, которые требуется устранить. **Если не указана**, будут устранены пробельные символы. Это не префикс и не суффикс, это перечисление нужных символов.

**re.sub()**
> Этот метод ищет шаблон в строке и заменяет его на указанную подстроку. Если шаблон не найден, строка остается неизменной.
```Python
re.sub(pattern, repl, string):
```

**title()**
> возвращает копию строки, в которой первые символы всех слов идут с заглавной буквы.

In [125]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

for x in map(remove_punctuation, new_states):
    print(x)

Alabama
Georgia
Georgia
Georgia
Florida
South   Carolina
West Virginia

## Anonymous (Lambda) Functions

**Python поддерживает** так называемые **анонимные** или **лямбда-функции**, которые являются способом написания функций, <br> 
состоящих из одного оператора, результатом которого является возвращаемое значение. <br>
Они определяются с помощью ключевого слова **lambda**, которое не имеет никакого значения, кроме «мы объявляем анонимную функцию»

**Python-лямбды** – это маленькие анонимные функции, подчиняющиеся более строгому, но более лаконичному синтаксису, чем обычные функции Python.
В лямбда-исчисление можно закодировать любое вычисление. 

**Функция тождества (identity function)**, функция, которая возвращает свой аргумент, <br>
выражается стандартным определением функции **Python**<br>
**с использованием** ключевого слова **def** следующим образом:

```Python
def identity(x):
    return x * 2
```

С **лямбда-конструкцией**, ваш код будет следующим

```Python
lambda x: x * 2
```
В приведенном выше примере выражение состоит из:<br>
- Ключевое слово: lambda
- Связанная переменная: x (является аргументом лямбда-функции)
- Тело: х

In [126]:
# lambda x: x + 1

# Применим указанную выше функцию к аргументу, заключив функцию и ее аргумент в круглые скобки
(lambda x: x + 1)(2)

3

In [127]:
add_one = lambda x: x + 1

add_one(2)

3

In [128]:
(lambda x, y: x + y)(2,3)

5

In [129]:
list(map(lambda x: x.capitalize(), ['cat', 'dog', 'pony']))

['Cat', 'Dog', 'Pony']

In [130]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]

apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [131]:
[i * 2 for i in ints]

[8, 0, 2, 10, 12]

In [132]:
def add_numbers(x, y):
    return x - y

(lambda y: add_numbers(5, y))(2)

3

In [133]:
list = [51, 62, 83, 24]

[(lambda y: add_numbers(100, y))(i) for i in list]

[49, 38, 17, 76]

In [134]:
[x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]