In [2]:
a <- c(10,20,30,40)
b <- c('book', 'pen', 'textbook', 'pencil_case')
c <- c(TRUE,FALSE,TRUE,FALSE)
d <- c(2.5, 8, 10, 7)
# Join the variables to create a data frame
df <- data.frame(a,b,c,d)
df

  a  b           c     d
1 10 book         TRUE  2.5
2 20 pen         FALSE  8.0
3 30 textbook     TRUE 10.0
4 40 pencil_case FALSE  7.0

In [ ]:
stripchart(w1$vals)