# Analyzing one categorical variable.

## Identifying individuals, variables and categorical variables in a data set

In [2]:
import pandas as pd

In [3]:
d = {'Drink' : pd.Series(['Brewed coffee','Caffe latte','Caffe mocha','Cappuccino','Iced brewed coffee','Chai latte']),
     'Type' : pd.Series(['Hot', 'Hot', 'Hot', 'Hot', 'Cold', 'Hot']),
     'Calories' : pd.Series([4, 100, 170, 60, 60, 120]),
     'Sugars(g)' : pd.Series([0, 14, 27, 8, 15, 25]),
     'Caffeine(g)' : pd.Series([260, 75, 95, 75, 120, 60])
    }

df = pd.DataFrame(d,columns=['Drink', 'Type', 'Calories', 'Sugars(g)', 'Caffeine(g)'])

df

                Drink  Type  Calories  Sugars(g)  Caffeine(g)
0       Brewed coffee   Hot         4          0          260
1         Caffe latte   Hot       100         14           75
2         Caffe mocha   Hot       170         27           95
3          Cappuccino   Hot        60          8           75
4  Iced brewed coffee  Cold        60         15          120
5          Chai latte   Hot       120         25           60

In [294]:
print(f"Individuals = {len(d['Drink'])}")

Individuals = 6

In [15]:
# if 'Drink' is identifier and not a variable or categorical variable than ->
num_of_var = [i for i in d if i != 'Drink']

print(f"Number of variables equal {len(num_of_var)}, 1 of which is categorical")

Number of variables equal 4, 1 of which is categorical

**Drink** column is identifier != variable | categ.var

**Type** column is categ.var

**Calories**	**Sugars(g)**	**Caffeine(g)** is quantitative variables is quantative variables

---
**Summarize:**

 - _Individuals = 6_

- _4 variables, 1 of which is categorical_

---
# Supplementation

> The **iloc** method gives us access to the DataFrame in more traditional ‘matrix’ style notation, i.e. [row, column] notation.

In [28]:
# Gives you the row at position zero.
# output row = 0, column = 2
df.iloc[0]

Drink          Brewed coffee
Type                     Hot
Calories                   4
Sugars(g)                  0
Caffeine(g)              260
Name: 0, dtype: object

In [27]:
# output row = 0, column = 2
df.iloc[[0]+[1]]

           Drink Type  Calories  Sugars(g)  Caffeine(g)
0  Brewed coffee  Hot         4          0          260
1    Caffe latte  Hot       100         14           75

In [21]:
df = pd.DataFrame(data = d)
# df.dtypes